body    {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    background-color: beige;
}

aside   {
    display: flex;
    flex-direction: row;
    
}

h1  {
    font-family: Arial, Helvetica, sans-serif;
}

#my-list    {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

#add-button {
    border-radius: 50%;
    height: 2em;
    width: 2em;
    text-align: center;
    font-size: 1rem;
}